<%= form_for @schoolclasses do |f| %>
<label> </label>
  <%= f.label :school_class_title %>
  <%= f.text_field :title %>
   <%= f.label :room_number %>
  <%= f.text_field :room_number %>
  <%= f.submit "Update School class" %>
<% end %>